@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}


.outlined-text {

    color: white;
    -webkit-text-stroke: 3px #333333;

}


.userReview-background {
    background-position: 1% 0%;
    background-image: url('../public/vector-2.svg');

    background-repeat: no-repeat;
    background-size: 120% 100%;
}

.heroImage-background{
    background-image: url('../public/m-bg.svg');
    background-repeat: no-repeat;
    background-size: 110vw auto;




}


@keyframes float1 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes float2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes float3 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes float4 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}

.float1 {
    animation: float1 3s ease-in-out infinite;
}

.float2 {
    animation: float2 4s ease-in-out infinite;
}

.float3 {
    animation: float3 5s ease-in-out infinite;
}

.float4 {
    animation: float4 6s ease-in-out infinite;
}


