@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply leading-[normal] m-0;
}
*,
::before,
::after {
  border-width: 0;
}


.outlined-text {

    color: white;
    -webkit-text-stroke: 3px #333333;

}



.aspect-explore-background{

    aspect-ratio: 1440 / 410;
}
